@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face {
    font-family: 'Kelson';
    src: url('../fonts/kelson_md_2.otf');
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Questrial', sans-serif;
    color: #000;
}

a,
img,
button,
input[type=submit] {
    text-decoration: none;
    outline: none;
    border: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    margin: 0px auto;
    padding: 0 20px;
}

.clearfix {
    clear: both;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.img-full {
    width: 100%;
    height: auto;
}

.center-block {
    margin: 0 auto;
}

.col-1 {
    width: 8.333333333333333%;
}

.col-2 {
    width: 16.66666666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333333333%;
}

.col-8 {
    width: 66.66666666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333333%;
}

.col-11 {
    width: 91.66666666666667%;
}

.col-12 {
    width: 100%;
}

.col-12-5 {
    width: 20%;
}

.w70 {
    width: 70%;
}

.w30 {
    width: 30%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-12-5,
.w30,
.w70 {
    float: left;
}

.wrap {
    display: block;
}

.wrap1 {
    display: block;
}

.wrap2 {
    display: block;
}

.block {
    display: table-cell;
    vertical-align: middle;
}

.float-none {
    /*float: none !important;*/
}

section {
    float: left;
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    padding: 16px 60px;
    box-shadow: 1px 1px 13px 2px #0000006b;
    background-color: #EDDFB6 ;
    transition: ease all 0.5s;
}

.logo-wrapper {
    /* position: initial; */
    left: 0;
    top: -14px;
    text-align: -webkit-center;
    padding: 0px;
    /* background-color: #e3e2e8; */
    /* height: 122px; */
    /* border-bottom: 5px solid #ffc20e; */
}

.logo-wrapper1 {
    /* position: initial; */
    left: 0;
    top: -14px;
    text-align: -webkit-center;
    padding: 0px;
    /* background-color: #e3e2e8; */
    /* height: 122px; */
    /* border-bottom: 5px solid #ffc20e; */
}

.section-padding {
    padding: 110px 0px;
}

.section-extra-padding {
    padding: 170px 0px;
}

.logo-wrapper>a,
.logo-wrapper>a>img {
    display: inline-block;
    width: 115px;
    /* padding: 1px 0px; */
    margin-top: -6px;
}

.logo-wrapper1>a,
.logo-wrapper1>a>img {
    display: inline-block;
    width: 67px;
    /* padding: 1px 0px; */
    margin-top: -11px !important;
}

.number-wrapper {
    font-family: 'ProximaNovaA-Semibold' !important;
    margin-right: 10px;
    font-size: 16px !important;
    line-height: 30px !important;
    width: 170px;
    display: inline-block;
    line-height: 30px !important;
    color: #fff !important;
    text-align: right;
}

.enquire-now-btn {
    background-color: #cdab64;
    padding: 0px 10px;
    color: #fff;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: 1s;
    /* Safari */
    transition: 1s;
    font-family: 'ProximaNova-Bold';
}

footer {
    width: 100%;
    line-height: 32px;
    background-color: #000000;
    padding: 10px 0px;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

footer a {
    color: #b2854b;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 14px;
    text-decoration: none;
}

footer a img {
    vertical-align: middle;
}

.enquire-form {
    width: 300px;
    position: absolute;
    background: rgba(52, 52, 52, 1);
    right: 20px;
    top: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

.nav-wrapper {
    clear: right;
    text-align: center;
}

nav {
    /*margin-top: 10px;*/
}

nav a {
    display: inline-block;
    margin: 13px 0px 0px 36px;
    text-transform: capitalize;
    color: #9F7A53;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    /* font-family: 'Gotham-Medium'; */
}

nav button {
    display: inline-block;
    /* margin: -5px 0px 0px 45px; */
    text-transform: capitalize;
    font-size: 18px !important;
    cursor: pointer;
    font-family: 'Gotham-Medium';
}

nav a.active {
    /*color: #000;*/
}

nav a:hover {
    color: #ebc36a;
}

nav button:hover {
    color: #ebc36a;
}

.lh30 {
    line-height: 30px;
}

.slide {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}


/*.home-slide1{*/


/*background-image: url(../images/Pittie_Kourtyard_Banner1.webp)*/


/*}*/


/*.home-slide2{*/


/*background-image: url(../images/Pittie_Kourtyard_Banner2.webp)*/


/*}*/


/*.home-slide3{*/


/*background-image: url(../images/Pittie_Kourtyard_Banner3.webp)*/


/*}*/

.section-title {
    font-size: 40px;
    /*margin-bottom: 20px;*/
    font-family: 'Kelson';
    color: #18191b;
    text-align: center;
}

.section-title1 {
    font-size: 40px;
    /*margin-bottom: 20px;*/
    /* font-family: 'Gotham Bold'; */
    color: #18191b;
    text-align: center;
}

.section-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    /* font-family: 'Gotham-Medium'; */
    text-align: center;
}


/* .section-subtitle:after {
    content: '';
    position: absolute;
    left: 0px;
    height: 2px;
    width: 100%;
    background-color: #a97d47;
    bottom: -22px;
} */

.fwbold {
    font-family: 'ProximaNova-Bold';
}

.section-subtitle-white {
    font-size: 25px;
    margin-bottom: 50px;
    font-family: 'ProximaNovaA-Semibold';
}

.section-subtitle-white:after {
    content: '';
    position: absolute;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: #fff;
    bottom: -22px;
}

.specs-subtitle-white {
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'ProximaNovaA-Semibold';
}

.specs-subtitle-white:after {
    content: '';
    position: absolute;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: #fff;
    bottom: -22px;
}

.specs-list li {
    list-style-type: none;
}

.specs-list li a {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 0px;
    display: block;
    position: relative;
}

.specs-list li a:before {
    content: '';
    position: absolute;
    left: -17px;
    top: 20px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 10px;
}

.f28 {
    font-size: 28px;
    color: #fff;
}

.specs-list {
    padding-left: 15px;
    z-index: 99;
    width: 90%;
}

.specs-list:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 1px;
    height: 100%;
    z-index: -1;
}

.active-specs {
    background-color: #ffc20e;
    color: #000000 !important;
    margin-left: -15px;
    padding: 10px 15px !important;
    border-radius: 0px 20px 20px 0px;
    /*width: 250px;*/
}

.active-specs:before {
    content: '';
    position: absolute;
    left: -17px;
    top: 20px;
    width: 0px !important;
    height: 0px !important;
    background: #000;
    border-radius: 10px;
}

.content-wrapper p {
    /* font-weight: 300; */
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 34px;
    text-align: center;
    margin-top: 30px;
}

.specs-tab {
    display: none;
}

.specs-tab ul {
    padding-left: 0px;
}

.specs-tab li {
    padding: 5px 20px;
    position: relative;
    list-style-type: none;
    color: #fff;
}

.specs-tab ul li:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 24px;
    background: #fff;
}

.specs-title {
    font-size: 30px;
}

.specs-right {
    padding: 0px 50px;
}

.grey {
    color: #4d4e50;
}

.amenities {
    width: 70%;
    margin: 20px auto;
}

.amenities-img {
    width: 30%;
    margin: 30px auto;
}

.amenities-text {
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
    padding: 14px 10px;
}

section.grey {
    background-color: #f5f5f5;
}

section p,
section ul,
section ol {
    font-size: 16px;
    line-height: 28px;
}

.hide-in-desktop {
    display: none;
}

.tagline {
    right: 15px;
    top: 290px;
    text-align: left;
    position: absolute;
}

.tagline-left {
    left: 15px;
    top: 260px;
    text-align: left;
    position: absolute;
}

.tagline-top {
    font-size: 60px;
    color: #fff;
    line-height: 54px;
    margin-bottom: 20px;
    font-family: 'Exo2-SemiBold';
}

.tagline-bottom {
    font-size: 26px;
    color: #d2ac67;
    font-family: 'Exo2-SemiBold';
}

.white {
    color: #fff;
}

.golden {
    color: #b8292f;
}

.banner-bottom-tagline {
    width: 100%;
    left: 0px;
    text-align: center;
    /*bottom: 0px;*/
    z-index: 99;
    background: #343434;
    padding: 10px 0px;
    font-size: 18px;
    font-family: 'Exo2-SemiBold';
}

.banner-bottom-tagline>.col-6:first-child {
    border-right: 1px solid #fff;
}

.banner-bottom-tagline span {
    font-size: 25px;
}

.box {
    width: 50%;
    float: left;
    padding: 10px;
    min-height: 260px;
}

.box-text {
    font-size: 20px;
    padding: 0px 10px;
    font-family: 'Gotham-Medium';
}

.box ul {
    font-size: 15px;
    padding-left: 14px;
}

.box1 {
    border-right: 1px solid #272727;
    border-bottom: 1px solid #272727;
}

.box2 {
    border-bottom: 1px solid #272727;
}

.box3 {
    border-right: 1px solid #272727;
}


/* PAGER */

.bx-wrapper .bx-pager {
    position: absolute;
    bottom: 120px;
    width: 100%;
    z-index: 99;
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #cdab64;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    vertical-align: bottom;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0;
}

.padding {
    padding: 50px 0px;
}

.specification-bg {
    /*background-image: url(../images/SpecificationsBG.webp);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: initial !IMPORTANT;
}


/* form */

.form-group {
    margin-bottom: 15px;
}

.contactuslabels {
    color: #BF9E61;
}

.form-group input {
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submit {
    cursor: pointer;
    background: #BF9E61;
    color: #fff;
    padding: 10px;
}

.error {
    color: #f00 !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

label.error {
    /*position: absolute;*/
    /* top: 62px; */
}

.hide-in-mobile {
    display: block;
}

.footer-mobile {
    display: none;
}

.top-padding {
    padding-top: 70px;
}

.banner-bottom-tagline .col-6 {
    padding: 0 10px
}

.overview-parallax {
    width: 80%;
    margin: 0 auto;
    background-attachment: fixed;
    /*height: 512px;*/
    background-repeat: round;
}

.overview-parallax img {
    /*margin-top: 233px;*/
}

.left-padding {
    padding-left: 50px;
}


/* style for new sections like contact form*/

.form-p {
    text-align: center;
    margin-bottom: 20px !important;
    color: #000;
}

#contact {
    background-image: url(../images/general/01.webp);
    background-size: cover;
    background-position: center;
    /* padding: 40px; */
}

.intl-tel-input {
    width: 100%;
}

.form-btn {
    margin: 0px auto;
    display: block;
    background: #18191b;
    border: 2px solid #18191b;
    color: #ebc36a;
    font-size: 18px;
    padding: 8px 39px 8px;
    transition: ease all 0.5s;
}

.form-btn:hover {
    border-color: #ebc36a;
    background: transparent;
    color: #fff;
    transition: ease all 0.5s;
}

.contact-div {
    padding-bottom: 20px;
}

#contctform-phone {
    width: 100%;
}

#price-model {
    z-index: 9999 !important;
    opacity: 1;
}

.her {
    background-color: #EDDFB6 ;
    color: #fff;
    border: 2px solid #000;
    /* border-bottom: none !important; */
}

.tbl>tbody>tr>td {
    border-top: none !important;
    width: 33%;
}

.tbl>tbody>tr>td a {
    color: #272727;
}

.her h3 {
    margin: 8px 0px;
    color: #000;
}

.modal-dialog {
    top: 100px;
    background: transparent !important;
}

#main-pop .modal-header,
#myModal1 .modal-header,
#price-model .modal-header,
#price-model1 .modal-header,
#price-model2 .modal-header,
#iam-model .modal-header,
#broucher .modal-header {
    background: #EDDFB6 ;
    color: #fff;
}

.modal-header .close,
#main-pop .close,
#price-model .close,
#price-model1 .close,
#price-model2 .close,
#broucher .close {
    color: #fff !important;
    opacity: 1 !important;
    margin-top: -16px;
}

#price-ultima input,
#price-optima input,
#price-maxima input,
#price-ultima select,
#price-optima select,
#price-maxima select {
    height: 40px;
    width: 100%;
    padding-left: 9px;
    border: none;
    background: #f3f3f3;
}

#price-ultima .form-group,
#price-optima .form-group,
#price-maxima .form-group {
    height: 40px;
    margin-bottom: 20px;
}

#price-ultima .input-group-addon,
#price-optima .input-group-addon,
#price-maxima .input-group-addon {
    background: #272727;
    color: #b2854b;
    border: 0;
}

#broucher input,
#broucher select {
    height: 40px;
    width: 100%;
    padding-left: 9px;
    border: none;
    background: #f3f3f3;
}

#broucher.form-group {
    height: 40px;
    margin-bottom: 20px;
}

#broucher .input-group-addon {
    background: #b2854b;
    color: #b2854b;
    border: 0;
    max-width: 33px;
}

#main-popup input,
#main-popup select {
    height: 40px;
    width: 100%;
    padding-left: 9px;
    border: none;
    background: #f3f3f3;
}

#main-popup .form-group {
    height: 40px;
    margin-bottom: 20px;
}

#main-popup .input-group-addon {
    background: #9F7A53;
    color: #fff;
    border: 0;
    max-width: 33px;
}

.price-btn {
    margin: 0px auto;
    display: block;
    background-image: none;
    background-color: #EDDFB6  !important;
    text-shadow: none;
    color: #b2854b;
    border-color: #272727;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    transition: all 0.5s ease;
    font-weight: 800;
}

.modal-backdrop.fade {
    opacity: .5;
    z-index: unset;
}

@media all and (max-width: 1366px) {
    .overview-parallax {
        width: 75%;
    }

    .tagline {
        top: 210px;
    }

    .tagline-left {
        left: 120px;
        top: 150px;
    }
}

@media all and (max-width: 1024px) {
    .logo-wrapper {
        left: 20px;
    }

    .box {
        min-height: 270px;
    }
}

@media all and (max-width: 768px) {
    .banner-bottom-tagline span {
        font-size: 23px;
    }

    .box {
        width: 100%;
        /*min-height: auto;*/
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        border: 0px;
    }

    .overview-parallax {
        height: auto;
        background-image: none;
        width: 100%;
    }

    .overview-parallax img {
        margin-top: 0px;
    }

    .logo-wrapper>a,
    .logo-wrapper>a>img {
        display: block;
        width: 115px;
        padding: 3px;
        margin-left: -20px;
        margin-top: -6px !important;
        position: relative;
        z-index: 9;
    }

    .logo-wrapper1>a,
    .logo-wrapper1>a>img {
        display: block;
        width: 65px;
        padding: 3px;
        margin-left: 3px;
        margin-top: -6px !important;
        position: relative;
        z-index: 9;
    }
}

@media all and (max-width: 700px) {
    .footer-mobile {
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 999;
        width: 100%;
        background-color: #343434;
        padding: 5px;
        text-align: center;
        color: #fff;
        font-family: 'ProximaNovaA-Semibold';
    }

    #form_success {
        color: #343434 !important;
    }

    .overview-parallax {
        height: auto;
        background-image: none;
        width: 100%;
    }

    .left-padding {
        padding-left: 0px;
    }

    .overview-parallax img {
        margin-top: 0px;
    }

    .hide-in-desktop {
        display: block;
    }

    /*footer {*/
    /*display: none;*/
    /*}*/
    .close-btn {
        display: block;
        right: 10px;
        font-weight: bold;
    }

    .enquire-form {
        display: none;
        position: fixed;
        left: 0;
        bottom: 30px;
        top: 0;
        background-color: rgba(255, 255, 255, 0.92);
        height: 95%;
        z-index: 9999;
        -webkit-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-overflow-scrolling: touch;
        padding: 5%;
        overflow-y: scroll;
        padding-bottom: 0px;
        width: 100%;
    }

    .banner-bottom-tagline .col-6 {
        width: 100%;
    }

    .banner-bottom-tagline span {
        font-size: 18px;
    }

    .banner-bottom-tagline {
        font-size: 15px;
    }

    .tagline-top {
        font-size: 26px;
        line-height: 32px;
        margin-top: 10px;
    }

    .tagline-bottom {
        font-size: 20px;
        line-height: 24px;
    }

    .tagline {
        top: 170px;
        width: 90%;
    }

    .tagline-left {
        top: 300px;
    }

    .enquire-now-wrapper {
        display: none;
    }

    .banner-bottom-tagline>.col-6:first-child {
        border-right: 0px solid #fff;
        margin-bottom: 10px;
    }

    .logo-wrapper {
        top: -24px;
        height: auto;
        z-index: 99;
    }

    .logo-wrapper>a,
    .logo-wrapper>a>img {
        /* display: inline-block;
        width: 53px;
        transition: 0.8s; */
        /*float: left;*/
        /*display: flex;*/
    }

    .nav-wrapper {
        width: 100%;
        /* margin-top: 50px; */
        position: absolute;
        background-color: #343434;
        top: 52px;
        left: 0;
        display: none;
    }

    nav a {
        display: block;
        text-align: center;
        margin: 0px;
        padding: 12px 0px;
    }

    .burger-menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 12px;
        font-size: 26px;
        color: #e3bc67;
    }

    .col-left,
    .col-right {
        width: 100%;
    }

    .section-title {
        font-size: 30px;
        margin: 0px;
        line-height: 40px;
    }

    .section-subtitle {
        font-size: 18px;
        line-height: 33px;
        margin-bottom: 36px;
    }

    .amenities {
        width: 100%;
    }

    .hide-in-mobile {
        display: none;
    }

    .box {
        width: 100%;
        padding: 10px 5px;
        min-height: 0px;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        border: 0px;
    }

    button.accordion {
        background-color: #343434;
        color: #fff;
        cursor: pointer;
        padding: 0px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 17px;
        transition: 0.4s;
        /* padding: 10px; */
    }

    .acc-content {
        display: inline-block;
        padding: 10px;
    }

    button.accordion:after {
        content: '\02795';
        font-size: 13px;
        color: #fff;
        float: left;
        margin-left: 0px;
        /* background-color: #f7c034; */
        padding: 12px 15px;
    }

    button.accordion.active:after {
        content: "\2796";
    }

    div.panel {
        padding: 0 0px;
        background-color: transparent;
        max-height: 0;
        overflow: hidden;
        transition: 0.6s ease-in-out;
        opacity: 0;
    }

    .accordian-specs {
        margin-top: 20px;
    }

    div.panel.show {
        opacity: 1;
        max-height: 800px;
    }

    div.panel ul {
        padding: 0 30px;
        font-size: 17px;
        line-height: 28px;
    }

    .full-height {
        height: auto !important;
    }

    .mobile-accordian {
        margin-top: 20px;
    }

    .specification-bg {
        background-color: #cdab64;
        background-image: none;
    }

    .wrap {
        display: block
    }

    .block1 {
        display: block;
        vertical-align: middle;
        margin-top: 13%;
    }

    .block {
        display: block;
        vertical-align: middle;
        margin-top: 0%;
    }

    .box-title .pull-left {
        display: inline-block;
    }
}

#CaptchaDiv {
    float: left;
    border: 1px solid #fff;
    width: 150px;
    height: 35px;
    padding: 0px 0px;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin-right: 10px;
    color: #fff;
    margin: 10px;
}

#refresh {
    cursor: pointer;
}

#contact-form input,
#contact-form select {
    height: 40px;
    border: none;
    width: 100%;
    padding-left: 8px;
    background: #fff;
}

#contact-form .input-group-addon {
    background: #9F7A53;
    /* outline: 4px solid #9F7A53; */
    color: #fff;
    border: 0;
}

.form-ico {
    font-size: 19px !important;
}

#contact-form textarea {
    border: none;
    resize: none;
    /*height: 40px;*/
}

#contact-form .form-group {
    height: 40px;
    margin-bottom: 23px;
}

#contact-form .selected-flag {
    background: #ba1f6b;
    width: 39px;
    border-radius: 3px 0px 0px 3px;
    height: 40px;
}

#contact-form .flag-container {
    padding: 0px !important;
}

@media only screen and (max-width: 380px) {
    .tbl-holder {
        overflow: scroll;
    }

    .her h3 {
        font-size: 15px;
    }
}

.msgicon {
    height: 100px;
    width: 100px;
    border: 4px solid #fff;
    font-size: 39px;
    background: #272727;
    color: #fff;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    margin: 0px auto;
    display: block;
}

.oops {
    /*color: #fff;*/
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.oops-subtitle {
    /*color: #fff;*/
    font-size: 18px;
}

.go-home {
    color: #272727;
    background: #fff;
    font-size: 19px;
    padding: 10px;
    width: 225px;
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 5px;
    transition: ease 0.5s;
}

.go-home:hover {
    transition: ease 0.5s;
    color: #fff;
    background: #272727;
    border-radius: 25px;
}

.oops-greet {
    color: #272727;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

button.btn.btn-danger.interested {
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: 0.4s ease-in;
    z-index: 999;
    background-color: #18191b;
    width: 160px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #000;
    color: #ebc36a;
}

button.btn.btn-danger.dbroucher {
    position: fixed;
    bottom: 15px;
    left: 15px;
    transition: 0.4s ease-in;
    z-index: 999;
    background-color: #18191b;
    width: 210px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #000;
    color: #ebc36a;
}

.btn-danger {
    color: #9F7A53 !important;
    background-color: #EDDFB6  !important;
    border-color: #fff;
}

button.btn.btn-danger.interested1 {
    position: fixed;
    bottom: 128px;
    right: -2px;
    transition: 0.4s ease-in;
    z-index: 999;
    background-color: #272727;
    width: 66px;
    font-weight: 600;
    font-size: 20px;
    padding: 12px;
    border: 2px solid #ffffff;
    color: #b2854b;
}

.interested-div {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 5px solid #3a7f40;
    /*padding: 2%;*/
    border-radius: 5px;
    background-color: #F3F3F3;
    z-index: 999;
    transition: 0.4s ease-in;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 300px;
}

.interested-div-close {
    position: absolute;
    right: 0px;
    bottom: auto;
    top: -1%;
    padding: 7px;
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    border: 1px none #ffffff;
    background-color: #3a7f40;
    font-weight: bolder;
}

p.popup-title {
    text-align: center;
    font-size: 20px;
    color: black;
}

p.inner-interested {
    position: absolute;
    top: 0vh;
    left: 0vh;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #3a7f40;
    width: 100%;
    padding: 1%;
    text-align: center;
    color: white;
}

#float-form input,
#float-form select {
    height: 40px;
    border: none;
    padding-left: 9px;
    width: 100%;
    background: #f3f3f3;
}

#float-form .input-group-addon {
    background: #9F7A53;
    color: #fff;
    border: 0;
    max-width: 33px;
}

#float-form .form-ico {
    font-size: 19px !important;
}

#float-form .form-group {
    height: 40px;
    margin-bottom: 23px;
}

#float-form .selected-flag {
    background: #272727;
    width: 39px;
    border-radius: 3px 0px 0px 3px;
    height: 40px;
}

.flot-btn,
flot-btn:focus {
    background: #272727 !important;
    box-shadow: none !important;
    color: #fff !important;
    border: 2px solid #272727 !important;
    margin: 0px auto !important;
    display: block !important;
    padding: 6px 20px !important;
}

.flot-btn:hover {
    background: transparent;
    box-shadow: none;
    border-color: #272727;
    color: #272727;
}

#iam-interested input,
#float-form select {
    height: 40px !important;
    border: none !important;
    padding-left: 9px !important;
    width: 100%;
    background: #fff !important;
}

#iam-interested .input-group-addon {
    background: #272727;
    color: #fff;
    border: 0;
}

#iam-interested .form-ico {
    font-size: 19px !important;
}

#iam-interested .form-group {
    height: 40px;
    margin-bottom: 23px;
}

@media only screen and (min-width: 768px) {
    #banner-form {
        position: absolute;
        width: 254px;
        right: 2%;
        top: 4%;
    }
}

@media only screen and (max-width: 767px) {
    .sec-bannerform {
        padding: 40px 20px;
        background: #d0d0d0;
        display: none;
    }

    #banner-form {}

    header {
        padding: 7px 0px;
        height: 60px;
    }
}

#carousel-example-generic {
    margin-top: 65px;
}

.m-banner {
    display: none !important;
}

@media only screen and (max-width: 700px) {
    .d-banner {
        display: none !important;
    }

    .m-banner {
        display: block !important;
    }

    #carousel-example-generic {
        margin-top: 60px;
    }
}

.rera img {
    width: 115px;
    float: left;
    margin-right: 10px;
}

.rera-h {
    margin: 0;
    font-size: 19px;
    font-weight: 800;
}

.rera-txt {
    margin: 0px;
    line-height: 23px;
}

.copy {
    line-height: 23px;
}

@media (max-width: 991px) and (min-width: 475px) {
    .rera-wrap {
        width: 400px;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 474px) {
    .rera img {
        width: 100px;
        float: none;
    }

    .rera-wrap {
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    .copy {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .copy {
        /*margin-top: 35px;*/
        text-align: center;
    }

    #contact {
        height: 550px;
    }
}

.rera-link {
    margin: 0;
    font-size: 19px;
}

.amenities-main1 p {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 25px;
    line-height: 23px;
    font-size: 14px;
    height: 53px;
    color: #000;
    letter-spacing: 1px;
}

.amenities-main p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 9px;
    line-height: 19px;
    font-size: 14px;
    color: #eec56b;
    background: #18191b;
    padding: 5px;
    letter-spacing: 0px;
}

.amenities-main h3 {
    text-align: center;
    color: #000;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 395px) {
    .amenities-main p {
        /*height: 45px;*/
        /*line-height: 19px;*/
        font-size: 14px;
    }
}

.hi-icon img {
    width: 90px;
}

.hi-icon2 img {
    width: 80px !important;
    display: inline-block !important;
    font-size: 0px;
    cursor: pointer;
    padding: 11px;
    /* width: 100px; */
    /* height: 100px; */
    border-radius: 0%;
    text-align: center;
    position: relative;
    z-index: 1;
    border: 2px solid #00000038;
    color: #00000059;
    box-shadow: 4px 7px 3px 0px;
}

.tbl {
    /*border: none;*/
    /*box-shadow: 8px 8px 19px #bbbbbb;*/
    background: #fff;
}

.glyphicon-chevron-left:before {
    content: "" !important;
}

.glyphicon-chevron-right:before {
    content: "" !important;
}

.carousel-control img {
    width: 35px;
}


/*------------- gallery ------------------------*/

#location .latest-post,
#location .latest-post-inner {
    min-height: 350px;
    max-height: 240px;
    margin-bottom: 30px;
}

.latest-post,
.latest-post-inner {
    min-height: 300px;
    max-height: 240px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.latest-post {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.latest-post-inner {
    padding: 50px 30px;
    position: relative;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    border: 2px solid #272727;
    border-radius: 20px;
}

.latest-post .latest-post-inner span,
.latest-post .latest-post-inner a,
.latest-post .latest-post-inner p,
.latest-post .latest-post-inner i,
.latest-post .latest-post-inner .entry-author {
    color: #fff;
    position: relative;
}

.latest-post .latest-post-inner a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.latest-post .latest-post-inner .latest-post-content {
    position: absolute;
    bottom: 30px;
}

.latest-post .latest-post-inner:before {
    content: "";
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 1;
    background: transparent;
}

.latest-post .latest-post-inner .link-icon {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    color: #fff;
    z-index: 999;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.latest-post .latest-post-inner .link-icon a {
    /* background-color: #493e3e80; */
    display: table;
    height: 235px;
    width: 345px;
    /* border-radius: 30px; */
    text-decoration: none;
    /* -webkit-transition: 300ms; */
    /* transition: 300ms; */
}

.latest-post .latest-post-inner .link-icon a i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/* .latest-post .latest-post-inner .link-icon a:hover {
    background-color: rgba(73, 62, 62, 0.7);
    transform: scale(1.2);
    -webkit-transition: 300ms;
    transition: 300ms;
} */

.latest-post .latest-post-inner:hover:before {
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.latest-post .latest-post-inner:hover .link-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -webkit-transition: 300ms;
    transition: 300ms;
}

.latest-post .latest-post-inner:hover {
    /* background-color: rgba(4, 170, 153, 0.5); */
}

.sl-prev {
    display: block !important;
}

.sl-next {
    display: block !important;
}


/*------------- End of gallery ------------------------*/

.mytab {
    text-align: center;
    border-bottom: none;
    margin-bottom: 45px;
}

#floor {
    /* background: #b2854b; */
    padding-bottom: 50px;
    margin-bottom: 5px;
    /* height: 600px; */
}

.mytab li {
    float: none !important;
    display: inline-block;
    font-size: 18px;
}

.mytab>li.active>a,
.mytab>li.active>a:hover,
.mytab>li.active>a:focus {
    color: #9F7A53;
    background-color: #EDDFB6 ;
    /* border: none !important; */
    cursor: pointer;
    /* outline: 2px solid #000; */
    /* outline-offset: -2px; */
    border: 2px solid #000;
    border-radius: 0px;
}

.mytab>li>a:hover,
.mytab>li>a:focus {
    border-color: transparent !important;
    background-color: transparent;
    border-radius: 5px;
    color: #000000;
}

.mytab>li>a {
    color: #000000;
}

#gallery {
    /*background: #b2854b;*/
    /* padding-bottom: 50px; */
    /* margin-bottom: 5px; */
    /* height: 600px; */
    padding: 50px 0px;
}

.proj-block {
    margin: 15px 15px;
    height: 105px;
    background: #EDDFB6 ;
    width: 100%;
    outline: 2px solid #000;
    /* outline-offset: -5px; */
    padding: 3px 0px;
    display: flex;
    position: inherit;
    align-items: center;
    justify-content: flex-start;
}

.proj-img {
    width: 45px;
    padding: 10px 0;
    
}

.proj-txt {
    color: #000;
    font-weight: 400;
    text-align: center;
    /* padding: 30px 0; */
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.gall-head {
    font-size: 50px;
    color: #18191b;
    font-family: 'Kelson';
    margin: 0px;
}

.underline2 {
    /* background: #272727; */
    /* height: 1px; */
    /* border-radius: 10px; */
    /* width: 139px; */
    margin: 7px auto;
    /* background-image: url(../images/divide.webp); */
    /* background-size: cover; */
}

@media only screen and (max-width: 480px) {
    .gall-head {
        font-size: 30px;
    }
}

#sp-footer h2 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
    line-height: 29px;
    color: #b2854b;
}

#sp-footer p {
    line-height: 20px;
}

.sl-wrapper .sl-navigation button {
    z-index: 999999 !important;
}

.fixHeader {
    background-color: #272727;
    transition: ease all 0.5s;
}

.hi-icon-wrap {
    padding: 2em 0 0em !important;
}

#configuration {
    /* padding: 70px 0px; */
    background: url("../images/general/07.webp") center;
    background-size: cover;
    background-attachment: fixed;
}


/*#overview{*/


/*background: #f5f5f5;*/


/*}*/

#amenities {
    /*background: url("../images/amenities.webp") center;*/
}

@media all and (max-width: 767px) {
    #sp-footer {
        text-align: center;
    }

    .rera-sec {
        margin-bottom: 42px;
    }

    #sp-footer h2 {
        margin-top: 13px;
    }

    .divide {
        margin-top: 0px !important;
    }

    .contactback {
        padding: 30px !important;
    }
}

@media all and (max-width: 328px) {
    .footer-logo li:first-child {
        border: none !important;
    }
}

.fixed-footer-cust {
    background: #272727;
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 99;
}

.f-icon {}

.fix-link {
    color: #fff !important;
    font-size: 14px;
}

.div-line {
    border-right: 1px solid #fff;
}

.free-call:hover {
    color: #FFFFFF;
}

.i-am {
    padding: 0;
    background: transparent;
}

.dbroucher {
    padding: 0;
    background: transparent;
}

.foo-txt {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.footer-call {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.footer-call a {
    color: #FFFFFF;
    text-decoration: none;
}

.thank-logo {
    margin: 0px auto;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

#video {
    width: 68%;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
}

@media all and (max-width: 767px) {
    #video {
        width: 100%;
        height: 175px;
    }

    /* .fixHeader .logo-wrapper img {
        display: block !important;
    } */
}

#pageloader {
    background: rgba(255, 255, 255, 0.9);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    top: 0;
}

#pageloader img {
    left: 50%;
    width: 100px;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}

.amenities-head {
    text-align: left;
}

.amenities-head:after {
    bottom: -5px !important;
}

.footer-logo {
    margin-top: 10px;
    padding-left: 0px;
    width: 80px;
}

.footer-logo li {
    list-style: none;
    display: inline-block;
}

.footer-logo li:first-child {
    margin-right: 5px;
    /* border-right: 1px solid; */
    padding-right: 10px;
}

.rera-sec {
    background: #434343;
    padding: 20px 0px;
}

.rera-sec p {
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 19px;
    margin: 0px;
}

.rera-sec h3 {
    margin-top: 0px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
}

#location {
    background: #f5f5f5;
}

#about {
    background: #fff;
}

.g-txt {
    text-align: center;
    margin: 0px;
}

.panoroma {
    /*background: url('../images/panoroma.webp') no-repeat left center transparent;*/
    transition: background-position 15000ms ease-in-out;
    height: 100vh;
}

.box ul li {
    font-size: 14px;
}

.inner-banner {
    /*background: url("../images/panoroma.webp");*/
}

.pd0 {
    padding: 0px;
}

.logo-color {
    /* background: #000000; */
}

.hi-icon-effect-1 .hi-icon1 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hi-icon1 {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    /* margin: 15px 30px; */
    width: 100px;
    height: 100px;
    border-radius: -6%;
    text-align: center;
    position: relative;
    z-index: 1;
    border: 2px solid #989797;
    color: #00000059;
    box-shadow: 0px 1px 3px 0px;
}

.hi-icon1 img {
    width: 55px;
    /* border: 1px solid; */
    margin-top: 20%;
}

.hi-icon-effect-1 .hi-icon1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #1c3e71;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}

.hi-icon1:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: -8%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon-effect-1a .hi-icon1:hover {
    background: #EDDFB6 ;
    color: #ffffff;
}

.hi-icon-effect-1 .hi-icon1 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1a .hi-icon1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.hi-icon-effect-1 .hi-icon1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #b2854b;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}

.loc-bord {
    border-right: 1px solid;
    height: 350px;
    padding: 11px 30px;
    color: #00000038;
    margin: 0px 9px;
    box-shadow: inset 0px 0px 5px 2px;
}

.loc-no {
    /* border-right: 1px solid; */
    height: 299px;
    color: #b2854b;
    padding: 0px 30px;
    border-right: 1px solid;
    height: 350px;
    padding: 11px 30px;
    color: #0000006b;
    margin: 0px 9px;
    box-shadow: inset 0px 0px 3px 3px;
    border-right: 1px solid;
    height: 350px;
    padding: 11px 30px;
    color: #00000038;
    margin: 0px 9px;
    box-shadow: inset 0px 0px 5px 2px;
}

.divide {
    margin-top: 60px;
}

#crown {
    background-size: cover;
    padding: 30px 0px;
    /* background: url(../images/patern.webp) #272727; */
    /* background-repeat: no-repeat; */
    /* background: linear-gradient(-45deg, #f89834, #e91e63, #f25536, #7c7c7c); */
    /* background-size: 400% 400%; */
    /* -webkit-animation: Gradient 15s ease infinite; */
    /* -moz-animation: Gradient 15s ease infinite; */
    /* animation: Gradient 15s ease infinite; */
}

.crown-t {
    color: #ffffff;
    font-weight: 400 !important;
    font-size: 35px;
    font-family: 'Exo2-SemiBold';
    margin-bottom: 20px;
    margin-top: 10px;
}

.crown-t span {
    color: #18191b;
    font-size: 40px;
}

#overview {
    /* padding: 60px 0px; */
    background: #ffffff;
}

.overview h2 {
    font-size: 55px;
    color: #a67b46;
}

.overview p {
    font-size: 19px;
    line-height: 28px;
    color: #ffffff;
}

.contactback {
    background-color: #000000b5;
    padding: 20px 130px;
    height: 550px;
}

.blow-banner img {
    width: 100px;
    margin: 0px auto;
    border: 2px solid #18191b;
    padding: 10px;
    border-radius: 5px;
}

.confback {
    background-color: #000000c4;
    padding: 46px;
    /* height: 550px; */
}

.usp {
    /* background-color: #000000c4; */
    padding: 70px 0px;
}

.blow-banner p {
    color: #272727;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.fixHeader {
    background-color: #EDDFB6 ;
    transition: ease all 0.5s;
}

.fixHeader .logo-wrapper img {
    /* display: none; */
}

.fixHeader .nav-wrapper .nav-links a {
    color: #9F7A53;
}

.fixHeader .nav-wrapper .nav-links button {
    color: #ebc36a;
}


/* .fixHeader nav a {
    display: inline-block;
    margin: 15px 0px 0px 45px;
    text-transform: capitalize;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Gotham-Medium';
} */

.fixHeader .nav-wrapper nav a:hover {
    color: #ebc36a;
    text-decoration: none;
}

.fixHeader .nav-wrapper nav {
    margin-top: 0px;
}

.breadcrumb {
    display: inline-block;
    padding: 10px 0 0 0;
    margin: 0;
    border-top: 4px solid #b2854b;
    border-radius: 0;
    background: transparent;
    overflow: hidden;
}

.breadcrumb li {
    float: left;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
}

.breadcrumb li:hover {
    background: #b2854b;
}

.breadcrumb li {
    padding: 12px 49px;
    margin-right: 6px;
    background: #b2854b !important;
    color: #000 !important;
    letter-spacing: 0px;
}

.breadcrumb li:after {
    content: "";
    width: 5px;
    margin: 0 auto;
    border: 10px solid transparent;
    border-top: 10px solid #b2854b;
    position: absolute;
    bottom: 43px;
    left: 0;
    right: 0;
}

.breadcrumb li:before {
    display: none;
}

.breadcrumb li a {
    display: block;
    padding: 3px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.breadcrumb li:hover a {
    color: #fff;
}

@media only screen and (max-width: 767px) {

    .breadcrumb li,
    .breadcrumb li a {
        padding: 3px 10px;
    }
}

@media only screen and (max-width: 479px) {
    .breadcrumb li {
        margin-right: 5px;
    }

    .breadcrumb li:last-child,
    .breadcrumb li a {
        padding: 3px 5px;
        font-size: 12px;
    }
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    font-size: 59px;
    font-family: initial;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #b2854b;
    text-decoration: none;
}

.owl-theme .owl-dots {
    display: none;
}

.owl-theme .owl-nav {
    margin-top: -15px;
}

.avighnalogo {
    margin-top: 15px;
    margin-left: 0px;
}

@media all and (max-width: 767px) {
    .confback {
        background-color: #000000c4;
        padding: 70px 0;
        height: unset;
    }

    .padding {
        padding: 50px 0px;
    }

    .hi-icon2 img {
        width: 65px;
    }

    .avighnalogo {
        margin-top: 10px;
        margin-left: 27px;
    }

    .overview {
        padding: 16px 0px;
    }

    .blow-banner img {
        width: 75px;
        margin: 0px auto;
    }

    .blow-banner p {
        color: #272727;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 600;
        height: 70px;
    }

    nav button {
        display: block;
        text-align: center;
        margin: 0px;
        /*color: #bf9152;*/
        padding: 12px 0px;
    }

    .crown-t span {
        font-size: 30px;
    }

    .amenities-main h3 {
        font-size: 17px;
    }

    .proj-block {
        margin: 15px 0px;
        width: 100%;
    }
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

.footer {
    background-color: #eee;
    padding: 25px 19px;
    text-align: center;
}

.footer:before {
    position: absolute;
    top: 0;
    background: #b6b6b6;
    width: 95%;
    height: 1px;
}

.footer:before,
.form-wrap h5:before {
    left: 50%;
    transform: translatex(-50%);
    content: "";
}

.wrapper-1400 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.footer img.footer-logo {
    padding-bottom: 25px;
}

img,
input.text,
td,
td img,
textarea {
    vertical-align: middle;
}

.footer p {
    margin-bottom: 10px;
}

.footer p,
.footer span {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    letter-spacing: 1px;
    /* font-family: initial; */
}

.footer h4 {
    font-size: 12px;
    line-height: 30px;
    color: #b2854b;
    letter-spacing: 1px;
}

.footer a {
    font-size: 12px;
    line-height: 30px;
    color: #b2854b;
    letter-spacing: 1px;
}

.footer .disclimer h3 {
    font-size: 10px;
    /* text-transform: uppercase; */
    color: #000000;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22px;
    /* padding: 0% 16%; */
    /* margin-bottom: 10px; */
    text-decoration: none;
}

.navbar-brand {
    /* float: left; */
    height: 50px;
    padding: 0px 0px;
    font-size: 18px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border: 2px solid #000;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
}

.foo-txt {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.footer-call {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.footer-call a {
    color: #FFFFFF;
    text-decoration: none;
}

.wbf-container.theme-peter-river .wbf-header {
    background: #272727 !important;
}

.wbf-container.theme-peter-river .wbf-form .wbf-submit input:hover {
    background: #272727 !important;
}

.wbf-container.theme-peter-river .wbf-form .wbf-submit input {
    background: #272727 !important;
}

.wbf-form .wbf-submit input {
    width: auto;
    color: #b2854b !important;
    font-weight: 600;
    background: rgb(108, 108, 255);
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    /* background: rgb(221, 221, 221); */
    height: 40px;
    margin: 15px auto 0px auto;
    padding: 0 20px;
    display: block;
    border: 1px solid rgb(157, 157, 157);
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.wbf-header .wbf-mainheader {
    font-size: 1.6em;
    color: #b2854b !important;
    float: left;
}

.wbf-footer {
    padding: 20px 30px;
    font-size: 0.8em;
    background: #D1DBFA;
    color: #000000 !important;
}

.wbf-container.theme-peter-river .wbf-footer {
    background: #2727274f !important;
}

.patch-wrap {
    /* background: #e14039; */
    /* padding: 20px; */
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    /* padding-top: 4em; */
}

.patch-wrap img {
    background: #f1f1f1;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 8px 8px 20px #d4d4d4;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0px auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #f6c926;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
}

.patch-wrap:hover .small-map {
    opacity: 0.3;
}

.patch-wrap:hover .small-map {
    opacity: 0.3;
}

.patch-wrap .map-btn .simple-lightbox .sl-navigation button.sl-next {
    display: none !important;
}

.patch-wrap .map-btn .simple-lightbox .sl-navigation button.sl-prev {
    display: none !important;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1024;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal1-content {
    margin: 5% auto;
    display: block;
    width: 80%;
    max-width: 900px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close1 {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close1:hover,
.close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal1-content {
        width: 90%;
    }
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1024;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: 5% auto;
    display: block;
    width: 80%;
    max-width: 900px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#location p {
    background: #EDDFB6 ;
    padding: 7px;
    color: #9F7A53;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0px;
    border: 2px solid #000;
}


/* The Close Button */

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.overview-img {
    width: 100%;
    height: 342px;
    margin-top: 10px;
    box-shadow: 0px 0px 0px 7px #d6d6d6;
    outline: 4px solid #9F7A53;
    outline-offset: -10px;
}

.build-logo {
    margin-top: -13px !important;
    /* background: #fff; */
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;
}

.div-crown {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 125px;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 90%;
    }

    .overview-img {
        width: 100%;
    }

    .loc-bord,
    .loc-no {
        border-right: none !important;
        height: 306px !important;
        padding: 20px 0px;
    }

    .build-logo {
        width: 62px;
        position: relative;
        left: 30px;
    }
}


.fa-user:before {
    content: "\f007";
    color: #fff;
}

.fa-mobile-phone:before,
.fa-mobile:before {
    content: "\f10b";
    color: #fff;

}

.fa-envelope:before {
    content: "\f0e0";
    color: #fff;
}


/* accordion */

#accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
}

#accordion a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #441f16;
    text-decoration: none;
    background-color: #EDDFB6;
}

#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
    background-color: #441f16;
    color: white;
    transition: all 0.2s ease-in;
}

#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
    color: white;
}

#accordion .panel-heading {
    padding: 0;
    border-radius: 0px;
    text-align: center;
}

#accordion .panel-heading a:not(.collapsed) {
    color: white;
    background-color: #441f16;
    transition: all 0.2s ease-in;
}


/* Add Indicator fontawesome icon to the left */

#accordion .panel-heading .accordion-toggle::before {
    font-family: 'FontAwesome';
    content: '\f00d';
    float: left;
    color: white;
    font-weight: lighter;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
}

#accordion .panel-heading .accordion-toggle.collapsed::before {
    color: #444;
    transform: rotate(-135deg);
    transition: all 0.2s ease-in;
}

